{% extends "./commission-base.html" %}
{% load static %}
{% block body %}
<!-- End Row -->
 <!-- End Row -->
 <!-- <script src="{% static 'assets/js/Chart.min.js' %}"></script> -->
 <script src="{% static 'assets/js/Chart.min.js' %}"></script>
<!-- <script src="{% static 'report/chart.min.js' %}"></script> -->
<script src="{% static 'report/jquery-3.6.0.min.js' %}"></script>
 <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <div
          class="
            title
            d-flex
            flex-wrap
            align-items-center
            justify-content-between
          "
        >
          <div class="left">
            <h6 class="text-medium mb-2">Service Attendance</h6>
          </div>
          <div class="right">
            <div class="select-style-1 mb-2">
              <div class="select-position select-sm">
                <select class="light-bg">
                  <option value="">Last Month</option>
                  <option value="">Last 3 Months</option>
                  <option value="">Last Year</option>
                </select>
              </div>
            </div>
            <!-- end select -->
          </div>
        </div>
        <!-- End Title -->
        <div class="chart">
          <div id="legend3">
            <ul
              class="legend3 d-flex flex-wrap align-items-center mb-30"
            >
              <li>
                <div class="d-flex">
                  <span class="bg-color primary-bg"> </span>
                  <div class="text">
                    <!-- <p class="text-sm text-success">
                      <span class="text-dark">Attendance</span> +25.55%
                      <i class="lni lni-arrow-up"></i>
                    </p> -->
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <span class="bg-color purple-bg"></span>
                  <div class="text">
                    <!-- <p class="text-sm text-success">
                      <span class="text-dark">Night Services</span> +45.55%
                      <i class="lni lni-arrow-up"></i>
                    </p> -->
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <span class="bg-color orange-bg"></span>
                  <div class="text">
                    <!-- <p class="text-sm text-danger">
                      <span class="text-dark">Day Services</span> -4.2%
                      <i class="lni lni-arrow-down"></i>
                    </p> -->
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <canvas
        id="myChart"
        style="width: 100%; height: 420px"
      ></canvas>
      <script type="text/javascript">
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx,{type:'bar',
      data:{
        labels:[{% for member in commission_list %} '{{member}}',{% endfor %}],
        datasets:[{label:'Members',
        data:[{% for number in number_list %} '{{number}}', {% endfor %}],
      backgroundColor:[
        'rgba(25,140,159,1)',
        'rgba(20,99,50,1)',
        'gree',
        'yellow',
      ],
      borderColor:[
      'rgba(25,99,132,1)',
      'rgba(90,140,13,1)',
      'rgba(255,90,39,1)',
      'rgba(200,99,47,1)'
      ],
    borderWidth: 1
    }]
  },
    options: {
      scales:{
        yAxes:[{
          ticks:{
            beginAtZero:true
          }
        }]
      }
    }
    
    })

      </script>
        </div>
      </div>
    </div>
    <!-- End Col -->

    <!-- End Col -->
  </div>
  <!-- End Row -->


{% endblock body %}
