{% extends "./base.html" %}
{% load static %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30">
            <h6 class="mb-10">All Registered Group Members</h6>
            <div class="table-wrapper table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <h6>#</h6>
                            </th>
                            <th>
                                <h6>First Name</h6>
                            </th>
                            <th>
                                <h6>Last name</h6>
                            </th>
                            <th>
                                <h6>National ID</h6>
                            </th>
                            <th>
                                <h6>Contact</h6>
                            </th>
                            <th>
                                <h6>Sex</h6>
                            </th>
                            <th>
                                <h6>Status</h6>
                            </th>
                        </tr>
                        <!-- end table row-->
                    </thead>
                    <tbody>
                        {% for member in members %}
                        <tr>
                            
                            <th scope="row">{{forloop.counter}}</th>
                            
                            <td class="min-width">
                                <p>{{member.first_name}}</p>
                            </td>
                            <td class="min-width">
                                <p>{{member.last_name}}</p>
                            </td>
                            <td class="min-width">
                                <p>{{member.national_id}}</p>
                            </td>
                            <td class="min-width">
                                <p>{{member.contact}}</p>
                            </td>
                            <td class="min-width">
                                <p>{{member.gender}}</p>
                            </td>
                            {% if member.status%}
                            <td class="min-width">
                                <span class="status-btn active-btn">Active</span>
                            </td>
                            {% else%}
                            <td class="min-width">
                                <span class="status-btn close-btn">Blocked</span>
                            </td>
                            {% endif %}
                            
                        </tr>
                        {% empty %}
                        <h4>No members registered yet</h4>
                        {% endfor %}
                        <!-- end table row -->
                    </tbody>
                </table>
                <!-- end table -->
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
{% endblock body %}